body {
    min-height: 100vh;
    position: relative;
}

/* Reset some defaults */
* {
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
}

header {
    background-color: transparent;
    padding: 15px 0;
    text-align: left;
    color: #FFF; /* White text color */
    font-size: 1.0em;
    font-family: 'Taviraj', serif;
    padding: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}


/* Center things inside the grid */
.grid {
    text-align: center;
    max-width: 95vw;
    margin: 2.5vw auto;
}

.grid-item {
    padding: 5px;
    box-sizing: border-box;
}

/* Image zoom effect on hover */
.grid-item img {
    transition: transform 0.3s ease-in-out;
}

.grid-item img:hover {
    transform: scale(1.1);
}

/* Responsive grid */
@media (min-width: 500px) {
    .grid-item {
        width: 50%;
    }
}

@media (min-width: 1000px) {
    .grid-item {
        width: 33.333%;
    }
}

@media (min-width: 1700px) {
    .grid-item {
        width: 25%;
    }
}

@media (min-width: 2100px) {
    .grid-item {
        width: 20%;
    }
}

/* Background Animation CSS */
.bgradient {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(
      to bottom right,  
      #2C3E50, #605B56, 
      #837A75, #4D6A6D, 
      #735751, #172A3A, 
      #230c33, #DAD2BC
    );
    background-repeat: no-repeat;
    background-size: 1000% 1000%;
    animation: gradient 240s ease infinite;
}

@keyframes gradient { 
    0%{background-position:0% 0%}
    50%{background-position:100% 100%}
    100%{background-position:0% 0%}
}

/* Updated style for the overlay/lightbox background */
.lightbox-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* darker background */
    backdrop-filter: blur(8px); /* adds blur effect */
    z-index: 1000;
    opacity: 0; /* start as transparent */
    transition: opacity 0.4s ease; /* smooth transition */
}

/* Updated style for the expanded image in the lightbox */
.lightbox-content img {
    margin: 10% auto;
    max-height: 80vh;
    display: block;
    transform: scale(0.7); /* start from a smaller size */
    opacity: 0; /* start as transparent */
    transition: transform 0.4s ease, opacity 0.4s ease; /* smooth transitions */
}


