body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #2E2532;
    color: #FBFBFB;
    padding: 10px;
}
.page{
    border: 1px solid #FBFBFBFb;
    background-color: #524948;
    padding: inherit;
}
p a{
    color:beige !important;
}