/* Reset default styles for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    position: relative;
    top: -100px; /* Adjust based on your header height */
}

.slideshow-target {
    width: 100%;
    height: 100vh; /* Adjust as needed */
    background-size: cover;
    background-position: center;
    animation: slideshow 150s infinite; /* Adjust duration as needed */
}

/* CSS for mobile devices */
@media only screen and (max-width: 768px) {
    /* Adjustments for smaller screens */
    /* Example: Adjust the font size or layout for smaller screens */
    body {
        font-size: 14px;
    }

    /* Adjust navigation styles */
    /* Example: Convert the menu into a dropdown for mobile */
    header ul {
        /* Apply styles suitable for mobile navigation */
        /* e.g., display: flex; and flex-direction: column; */
    }

    /* Adjust section styles */
    /* Example: Modify the layout or spacing for smaller screens */
    section {
        /* Add appropriate styles */
    }
}


/*Apply the background slideshow animation */
main::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    animation: slideshow 3600s infinite; 
    z-index: -1; 
    opacity: 0; 
}


/* Style the navigation header */
header {
    width: 100%;
}

header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header ul li {
    padding: 0 20px;
    position:relative;
}

.dropdown{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background-color: #333;
    list-style: none;
    padding: 0;
    margin:0;
    border-top: 2px solid #E4B363;
}

header ul li:hover .dropdown {
    display: block;
}

header ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color: #E6FAFC;
    font-size: 17px;
    cursor: pointer;
    transition: color 0.3s ease;
}

header ul li a:hover {
    color: #E4B363; /* Change color on hover */
}


/* Style the welcome section */
section {
    position: absolute;
    text-align: right;
    top: 50%;
    right: 10%;
    transform: translate(0, -50%);
}

section h4 {
    font-size: 24px;
    color: #CCC9E7;
    font-weight: 400;
    text-transform: uppercase;
}

section h1 {
    font-size: 55px;
    color: #E0DFD5;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Anton", sans-serif;
    text-align: center;
    margin: 0;
    -webkit-background-clip: text;
      -webkit-mask-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#000),color-stop(.5,#000),color-stop(1,transparent));
      transition: background-position 1s, background-color 1s;
      text-align: center;
    font-weight: 400;
      line-height: 1;
}

section h1 span {
    color: #E4B363;
}

/* Style the button */
section button {
    background-color: #333;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 700;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 15px 30px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

section button:hover {
    background-color: #111;
}


header.header-animation {
    position: fixed;
    top: -100px; /* Start position above the viewport */
    width: 100%;
    background-color: #111; /* Match the button hover color */
    transition: top 0.5s ease; /* Add a transition effect to the top property */
    z-index: 1;
}

/* Add this to your existing CSS */
main.main-animation {
    margin-top: 100px; /* Adjust the margin to match the header's height */
}

/* Style the about section */
.about-section {
    position: relative;
    top: 900px;
    text-align: center;
    padding: 50px;
    background-color: #333;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: 0 auto;
}
